body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('3.jpg');
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}

.header-text {
    flex: 1;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
}

section img {
    width: 100%;
    max-width: 100%; /* Adjust this value to set a specific width for images within the section */
    height: auto;
}

/* Add media queries for responsiveness */
@media only screen and (max-width: 600px) {
    .header-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile-image {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .header-text {
        flex: 1;
        margin: 0;
    }

    section {
        padding: 10px;
    }
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
}
